.App {
  text-align: center;
}

.Game {
  margin: 0 auto;
  padding: 0;
  width: 180px;
  height: 180px;
}

.Tile {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 20px;
  border: solid 1px black;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 18px;
}

.Tile:hover {
  background: silver;
}

.Tile.p1, .Tile.p2 {
  cursor: default;
}

.Tile.p1:hover, .Tile.p2:hover {
  background: white;
}
